{%extends 'house/base.html'%}
{%load static%}


{%block content%}


<section id="about" class="about section-padding">
    <div class="container p-5 mgn">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-12   ">
                <img src="{{project.photo_1.url}}" width="600" alt="">
            </div>
            <div class="col-lg-6 col-md-12 col-12  ">
                <div class="about-text mt-2">
                    <h2><strong>{{project.name}} </strong></h2>
                    <p>{{project.description}}</p>
                    <p><b> Тип: </b>{{project.type}}</p>
                    <p><b> Цена:</b> {{project.price}} тг</p>
                    <div class="mt-3">
                        <form action="/order" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="project_id" value="{{project.id}}">
                            <input type="hidden" value="{{project.description}}" name="caption">
                            <button class="btn btn-lg btn-dark">
                                Заказать
                            </button>
                        </form>
                        {% for m in messages %}
                        <p class="text-danger">{{m}}</p>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-12">
            <h5>Характеристики:</h5>
            <table class="table ">
                <thead class=" bg-dark text-white">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{{project.type2}}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Высота</th>
                    <td>{{project.height}}</td>
                </tr>
                <tr>
                    <th scope="row">ceiling_height</th>
                    <td>{{project.ceiling_height}}</td>
                </tr>
                <tr>
                    <th scope="row">dimensions</th>
                    <td>{{project.dimensions}}</td>
                </tr>
                <tr>
                    <th scope="row">roof</th>
                    <td>{{project.roof}}</td>
                </tr>
                <tr>
                    <th scope="row">area</th>
                    <td>{{project.area}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-6 col-md-12 col-12">
            <h5>Материалы</h5>
            <table class="table ">
                <thead class=" bg-secondary text-white">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">{{project.e}}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Крыша</th>
                    <td>Черепица</td>
                </tr>
                <tr>
                    <th scope="row">Стены</th>
                    <td>Sip</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <h5 class="text-center">Строительный чертеж</h5>
        <div class="col">
            <img src="{{project.photo_2.url}}" width="500" alt="">
        </div>
        <div class="col">
            <img src="{{project.photo_3.url}}" width="500" alt="">
        </div>
    </div>

</div>

<div class="container mt-5">
    <p>Приобретая проект дома в компании Dom4M, Вы получаете комплект чертежей - 2 экземпляра, необходимый для
        проведения строительных работ и беспрепятственного получения разрешения на строительство.
    </p>
    <p>

        Проект содержит три раздела – Архитектурный, Конструктивный и Инженерный: водоснабжение, отопление, вентиляция,
        канализация, электроснабжение (приобретается за дополнительную плату) + Пояснительная записка.
    </p>

    <p>Архитектурный раздел: </p>
    <ul>
        <li> Общие данные по проекту</li>
        <li>План координационных осей</li>
        <li>Поэтажные кладочные планы</li>
        <li>Поэтажные маркировочные планы с экспликацией помещений</li>
        <li>План кровли</li>
        <li> Разрезы и состав конструкций</li>
        <li> Фасады с ведомостью внешних отделок</li>
        <li> Элементы проемов – спецификация</li>
        <li> Ведомость перемычек – сечения и спецификация</li>
        <li>Экспликация полов</li>
        <li> Объемы основных строительных материалов</li>
        <li>Архитектурные узлы в конструкциях</li>
    </ul>
</div>

{% endblock %}