{%extends 'house/base.html'%}
{%load static%}


{%block content%}

<div class="container p-5 mgn">
    <section class="      mb-5">
        <div class="row py-lg-3 ">
            <div class="col-lg-8 col-md-6 me-auto">
                <h2 class="fw-light">Проекты и цены на строительство домов</h2>
                <p class="lead text-muted"> Мы стремимся создавать дома, которые отражают
                    индивидуальность и потребности каждого нашего клиента.. Каждый проект, который мы предлагаем, создан
                    с учетом эстетики, комфорта и удобства.</p>
            </div>
            <div class="col-lg-2 col-md-6">
                <span class="text-black" style="font-size: 30px;font-weight: bold">
                    N<span style="color: #6CAC3D">Const</span></span>
            </div>
        </div>

    </section>

    <div class="row g-3">
        <div class="mb-2 d-flex justify-content-start">
            <form action="/search" class="d-flex m-0" method="post">
                {% csrf_token %}
                <div class="me-2">

                    <input type="text" name="project_name" class="form-control" style="width: 400px"
                           placeholder="Найти..">

                </div>
                <div>
                    <button class="btn" type="sumbit"> Поиск</button>
                </div>
            </form>

            <div class="ms-auto d-flex">
                <div class="dropdown mx-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton01"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Кровля
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton01">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
                <div class="dropdown mx-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton0"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Этаж
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton0">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
                <div class="dropdown mx-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Цена
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
                <div class="dropdown ">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Тип
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
        </div>


        {% if projects %}
        {% for p in projects %}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card h-100">
                <img src="{{ p.photo_1.url }}" alt="" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-text">{{ p.name }}</h4>
                    <p class="card-text">{{ p.description|truncatewords:8 }}</p>
                    <p class="card-text">Тип: {{ p.type }}</p>
                    <p class="card-text">Цена: {{ p.price }} Тг</p>
                    <a href="{% url 'project' p.pk %}" class="btn">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h4 class=" mt-5">Ничего не найдено
            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                 height="16"
                 fill="currentColor" class="bi bi-emoji-frown"
                 viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
            </svg>
        </h4>
        {% endif %}

    </div>
</div>

{% endblock %}